<tr>
  <td style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: 0.3px;
      color: #1c2745;
    ">
    <p>
      © 2022<a style="text-decoration: none" href="#">
        ALICE
      </a>
      all rights reserved. Powered by
      <a style="text-decoration: none" href="#">iMS Technologies</a>
    </p>
    <p>
      e-mail:
      <a style="text-decoration: none" href="mailto:support@imssystems.tech">
        support@imssystems.tech
      </a>
    </p>
    <img height="25" style="height: 25px; max-height: 20px; margin: 20px 0"
      src="https://imssystems.tech/static/assets/images/ims-technologies-official.png" alt="" />
  </td>
</tr>